main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    margin-top: 15px;
}

li {
    list-style: none;
    width: clamp(180px,70vw,540px);
    padding: 5px 15px;
    border-radius: 15px;
    border: 2px #474747 solid;
    margin-top: 15px;
    background-position: 0px 100% !important;
    background-size: 10px 200% !important;
}

.players {
    font-weight: 600;
    font-size: 18px;
}

.online {
    background: linear-gradient(#61d161 20%, #99ff99, #61d161 80%);
}
.offline {
    background: linear-gradient(#d16161 20%, #ff9999, #d16161 80%);
}
li:hover {
    background-position: 0px 0px !important;
    transition: 250ms ease !important;
}
a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #474747;
    display: flex;
    justify-content: space-between;
}