main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    margin-top: 15px;
}

li {
    list-style: none;
    width: clamp(180px,70vw,540px);
    padding: 5px 15px;
    background-color: #c1c0ca;
    border-radius: 15px;
    border: 2px gray solid;
    margin-top: 15px;
}

.online {
    border-bottom: 5px green solid;
}
.offline {
    border-bottom: 5px red solid;
}
a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: gray;
}