main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    margin-top: 15px;
}

li {
    list-style: none;
    width: clamp(180px,70vw,540px);
    padding: 5px 15px;
    border-radius: 15px;
    border: 2px #747474 solid;
    margin-top: 15px;
    background-position: 0px 100% !important;
    background-size: 10px 200% !important;
    transition: 250ms ease;
}

.players {
    font-weight: 600;
    font-size: 18px;
}

.online {
    background: linear-gradient(#757575 -30%, #4dff4d, #757575 130%);
}
.offline {
    background: linear-gradient(#757575 -30%, #ff4d4d, #757575 130%);
}
li:hover {
    background-position: 0px 0px !important;
}
a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #474747;
    display: flex;
    justify-content: space-between;
}