:root {
    /*hue*/
    --server-toggle-enabled: 200;
    --server-toggle-disabled: 5;
}

.control-wrapper {
    margin-top: 3vh;
    width: min(800px, 80%);
    color: #b9b9b9;
    text-align: center;
}
.control {
    width: 100%;
    background-color: #3a3a3a;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.server-state {
    width: 100%;
    padding: 7px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.server-state-disabled {
    background-color: #b53335;
}

.server-state-enabled {
    background-color: #229952;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server-toggle {
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555;
    color: #fefefe;
    font-size: 16px;
    min-width: 120px;
    cursor: pointer;
}

.server-toggle-enabled {
    background: linear-gradient(0.45turn, hsl(var(--server-toggle-enabled), 75%, 45%), hsl(var(--server-toggle-enabled), 45%, 60%));
}

.server-toggle-disabled {
    background: linear-gradient(0.45turn, hsl(var(--server-toggle-disabled), 55%, 60%), hsl(var(--server-toggle-disabled), 45%, 50%));
}

.error-output {
    background-color: #742e2f;
    color: white;
    border-radius: 15px;
}

button[disabled] {
    background: linear-gradient(#5f5f5f, #4d4d4d);
    color: #bdbdbd;
}

input {
    color: #ddd;
    font-size: 16px;
}
 
@media (max-width: 800px) {
    header {
        height: 40px;
    }
    .header-caption {
        font-size: 20px;
    }
    .control-wrapper {
        width: 100%;
    }
}
